<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="SeleniumProject Suite">
  <test name="SeleniumProject Tests">
    <classes>
      <class name="SeleniumProject.Activity01"/>
      <class name="SeleniumProject.Activity02"/>
      <class name="SeleniumProject.Activity03"/>
      <class name="SeleniumProject.Activity04"/>
      <class name="SeleniumProject.Activity05"/>
      <class name="SeleniumProject.Activity06"/>
      <class name="SeleniumProject.Activity07"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->